body{
	
  text-align: center;
  background-image: url(./img/bg.jpg)
}

h1{ color: #97a7d8;}

.switch{ 
	text-align: center
}

.UpDown{

}

/*
.switch:hover, .switch:active {
  color:#fff;
  background:#009688;
}*/

.up{
	margin-top: 2%;
	float:left;
	width: 31%;
	height: 10%;
	background-image:url(./img/up.png);
	background-repeat: no-repeat;
}
.up:hover{background-image:url(./img/uphover.png); }
.up:active{background-image:url(./img/upactive.png); }
.down{
	margin-top:2%;
	float:right;
	width: 31%;
	height: 10%;
	background-image: url(./img/down.png);
	background-repeat: no-repeat;

}


.buttons{
	height: 80%;
	background: black;


}

.InfoPanel{
	height: 20%;
	background-color: black;
	color: white;
	font-size: 300%;
  border-top: 5px solid white;
  box-shadow:inset 0px 5px 10px white;
}

.borderApp{
  border: 5px solid #b4630a;
  position: static;
}